<footer class="bg-light">
<div class="container py-11">
    <div class="row align-items-center">
        <div class="col-12 col-lg-5 mb-2 mb-lg-0">
            <h3 class="font-shrikhand fs-4">ALPHABOX+</h3>
            <p class="ls-1 fw-bold d-none d-lg-block">Copyright © 2023 Hexschool.</p>
        </div>
        <div class="col-12 col-lg-2 d-flex justify-content-lg-center">
            <span class="material-symbols-outlined fs-2">emergency</span>
        </div>
        <ul class="col-12 col-lg-5 list-unstyled d-flex flex-column flex-lg-row justify-content-lg-end">
            <li><a href="#" class="link-dark w-100 d-block py-1 p-lg-3">關於我們</a></li>
            <li><a href="#" class="link-dark w-100 d-block py-1 p-lg-3">產品資訊</a></li>
            <li><a href="#" class="link-dark w-100 d-block py-1 p-lg-3">常見問題</a></li>
            <li><a href="#" class="link-dark w-100 d-block py-1 p-lg-3">隱私政策</a></li>
        </ul>
        <p class="ls-1 d-lg-none fw-bold">Copyright © 2023 Hexschool.</p>
    </div>
</div>
</footer>