<div class="position-fixed w-100 z-index-99">
  <div class="navbar-border position-absolute bg-white start-0 end-0 bottom-0"></div>
  <nav class="navbar navbar-expand-lg bg-primary-400 py-7">
    <div class="container">
      <a href="index.html"><h1 class="navbar-brand font-shrikhand fs-5 fs-lg-4 link-light">ALPHABOX+</h1></a>
        <div class="navbar-dropdown position-lg-static position-absolute start-0 end-0 flex-lg-grow-1">
          <div class="collapse navbar-collapse bg-linear-y-purple" id="navbar-content">
            <ul class="navbar-nav mx-auto pt-8 pt-lg-0 align-items-center">
              <li class="nav-item mb-1 mb-lg-0">
                <a class="nav-link link-light d-block px-7" href="product.html">產品</a>
              </li>
              <li class="nav-item mb-1 mb-lg-0">
                <a class="nav-link link-light d-block px-7" href="#">關於我們</a>
              </li>
              <li class="nav-item mb-1 mb-lg-0">
                <a class="nav-link link-light d-block px-7" href="#">最新消息</a>
              </li>
              <li class="nav-item mb-1 mb-lg-0">
                <a class="nav-link link-light d-block px-7" href="#">FAQ</a>
              </li>
              <li class="nav-item mb-1 mb-lg-0">
                <a class="nav-link link-light d-block px-7" href="#">聯絡我們</a>
              </li>
            </ul>
            <ul class="navbar-nav pb-8 pb-lg-0 align-items-center">
              <li class="nav-item mb-1 mb-lg-0">
                <a class="nav-link link-light d-block px-3" href="#">註冊</a>
              </li>
              <li class="nav-item mb-1 mb-lg-0">
                <a class="nav-link link-light d-block px-3" href="#">登入</a>
              </li>
              <li class="nav-item mb-2 mb-lg-0">
                  <a class="btn btn-light text-dark d-flex align-items-center px-5 py-2 ms-xl-7" href="#">
                      <span class="material-symbols-outlined me-1">point_scan</span>
                      訂閱
                  </a>
              </li>
            </ul>
          </div>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-content" aria-controls="navbar-content" aria-expanded="false" aria-label="Toggle navigation">
          <span class="material-symbols-outlined fs-4 text-light border-0">menu</span>
        </button>
      </div>
    </nav>
</div>

<!-- <div class="position-fixed w-100">
  <div class="navbar-border position-absolute bg-white start-0 end-0 bottom-0"></div>
  <nav class="navbar navbar-expand-lg bg-primary-400 py-7">
    <div class="container d-flex align-items-center justify-content-lg-start">
      <a href="index.html"><h1 class="navbar-brand font-shrikhand fs-5 fs-lg-4 link-light">ALPHABOX+</h1></a>
      <div class="navbar-dropdown position-lg-static position-absolute start-0 end-0 flex-lg-grow-1">
        <div class="collapse navbar-collapse bg-linear-y-purple" id="navbarSupportedContent">
          <ul class="navbar-nav mx-auto pt-8 pt-lg-0 align-items-center">
            <li class="nav-item mb-1 mb-lg-0">
              <a class="nav-link link-light d-block px-7" href="product.html">產品</a>
            </li>
            <li class="nav-item mb-1 mb-lg-0">
              <a class="nav-link link-light d-block px-7" href="#">關於我們</a>
            </li>
            <li class="nav-item mb-1 mb-lg-0">
              <a class="nav-link link-light d-block px-7" href="#">最新消息</a>
            </li>
            <li class="nav-item mb-1 mb-lg-0">
              <a class="nav-link link-light d-block px-7" href="#">FAQ</a>
            </li>
            <li class="nav-item mb-1 mb-lg-0">
              <a class="nav-link link-light d-block px-7" href="#">聯絡我們</a>
            </li>
          </ul>
          <ul class="navbar-nav pb-8 pb-lg-0 align-items-center">
            <li class="nav-item mb-1 mb-lg-0">
              <a class="nav-link link-light d-block px-3" href="#">註冊</a>
            </li>
            <li class="nav-item mb-1 mb-lg-0">
              <a class="nav-link link-light d-block px-3" href="#">登入</a>
            </li>
            <li class="nav-item mb-2 mb-lg-0">
                <a class="btn btn-light text-dark d-flex align-items-center px-5 py-2 ms-xl-7" href="#">
                    <span class="material-symbols-outlined me-1">point_scan</span>
                    訂閱
                </a>
            </li>
          </ul>
        </div>
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="material-symbols-outlined fs-4 text-light border-0">menu</span>
      </button>
    </div>
  </nav>
</div> -->