<div class="position-fixed w-100 z-index-99">
  <div class="navbar-border position-absolute bg-white start-0 end-0 bottom-0"></div>
  <nav class="navbar navbar-expand-lg bg-primary-400 py-7">
    <div class="container">
      <a href="index.html"><h1 class="navbar-brand font-shrikhand fs-5 fs-lg-4 link-light">ALPHABOX+</h1></a>
      <div class="navbar-dropdown position-lg-static position-absolute start-0 end-0 flex-lg-grow-1">
        <div class="collapse navbar-collapse bg-linear-y-purple border-bottom border-light border-bottom-lg-0" id="navbar-content">
          <ul class="navbar-nav mx-auto pt-8 pt-lg-0 w-100 w-lg-50 justify-content-between align-items-center">
            <li class="nav-item mb-1 mb-lg-0 text-center w-100 w-lg-17">
              <a class="nav-link link-light-to-dark-hover d-block" href="diane-product.html">產品</a>
            </li>
            <li class="nav-item mb-1 mb-lg-0 text-center w-100 w-lg-28">
              <a class="nav-link link-light-to-dark-hover d-block" href="about-us.html">關於我們</a>
            </li>
            <li class="nav-item mb-1 mb-lg-0 text-center w-100 w-lg-28">
              <a class="nav-link link-light-to-dark-hover d-block" href="news.html">最新消息</a>
            </li>
            <li class="nav-item mb-1 mb-lg-0 text-center w-100 w-lg-15">
              <a class="nav-link link-light-to-dark-hover d-block" href="faq.html">FAQ</a>
            </li>
            <li class="nav-item mb-1 mb-lg-0 text-center w-100 w-lg-28">
              <a class="nav-link link-light-to-dark-hover d-block" href="contact-us.html">聯絡我們</a>
            </li>
          </ul>
          <ul class="navbar-nav justify-content-between align-items-center">
            <li class="nav-item mb-1 mb-lg-0 w-100 text-center">
              <a class="nav-link link-light-to-dark-hover d-block px-3" href="sign-up.html">註冊</a>
            </li>
            <li class="nav-item mb-1 mb-lg-0 w-100 text-center me-lg-7">
              <a class="nav-link link-light-to-dark-hover d-block px-3" href="sign-in.html">登入</a>
            </li>
          </ul>
          <div class="pb-8 pb-lg-0">
            <a class="btn btn-light-hover d-flex align-items-center justify-content-center py-2 px-4 d-inline-block" href="#">
              <span class="material-symbols-outlined me-1 ">point_scan</span>
              訂閱
            </a>
          </div>
        </div>
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-content" aria-controls="navbar-content" aria-expanded="false" aria-label="Toggle navigation">
        <span class="material-symbols-outlined fs-4 text-light border-0">menu</span>
      </button>
    </div>
  </nav>
</div>