@keyframes circle{
    from{
        transform:rotate(0deg);
    }
    to{
        transform:rotate(360deg);
    }
}
@-webkit-keyframes circle{
    from{
        -webkit-transform:rotate(0deg);
    }
    to{
        -webkit-transform:rotate(360deg);
    }
}
.animation-circle{
    width: 196px;
    animation-name: circle;
    animation-duration: 6s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    -webkit-animation-name: circle;
    -webkit-animation-duration: 6s;
    -webkit-animation-fill-mode: both;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}
.transition-2x{
    transform:scale(1,1);
    transition: all 0.4s ease-out;
    &:hover{
        transform:scale(1.1,1.1);
        transition: all ease-in 0.4s;
    }
}