@keyframes circle{
    0%{
       rotate:(0deg);
    }
    100%{
       rotate:(360deg);
    }
}
.animation-circle{
    width: 196px;
    animation-name: circle;
    animation-duration: 6s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}