.btn-hover{
    color: white;
    background-color: black;
    &:hover{
        color: #7000FF;
        background-color: white;
    }
}
.btn-hover.active{
    color: black;
    background-color: white;
}
.btn-light-hover{
    color: black;
    background-color: white;
    &:hover{
        color: white;
        background-color: transparent;
        border: 1px solid #FFFFFF;
    }
}
.btn:hover{
    background: transparent;
}