.font-NotoSans{
    font-family: 'Noto Sans TC', sans-serif;
}
.font-shrikhand{
    font-family: 'Shrikhand', cursive, sans-serif;
}
.font-siemreap{
    font-family: 'Siemreap', sans-serif;
}
.font-saira{
    font-family: 'Saira Extra Condensed', sans-serif;
}