.link-underline{
    position: relative;
    @media (max-width:768px) {
        &::before{
            content:"";
            width: 100%;
            height: 2px;
            background-color: black;
            position: absolute;
            bottom:0px;
            }
    }
    &:hover{ 
        &::before{
        content:"";
        width: 100%;
        height: 2px;
        background-color: black;
        position: absolute;
        bottom:0px;
        // @media (max-width:768px) {
        //     background-color: transparent;
        // }
        }
    }
}