<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
        <link rel="icon" type="image/x-icon" href="../assets/images/logo-circle.ico">
        <title>聯絡我們</title>
    </head>
    <body>
        <%- include('./layout/header'); -%>
        <section class="bg-linear-circle-primary-2 pt-16">
            <div class="container pt-14 pt-md-19 pb-md-17">
                <h2 class="fw-bold fs-3 ls-30 text-light mb-11 mb-lg-5" data-aos="fade-up">聯絡我們</h2>
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-11">
                                <p class="text-light fw-light mb-9 mb-md-15" data-aos="fade-up">您的意見與需求對我們至關重要！如果您對 ALPHABOX+ 有任何疑問、建議或需求，請隨時填寫以下表單，我們將在 24 小時內回覆您。您的寶貴意見將幫助我們不斷改進產品與服務，為您帶來更優質的體驗。</p>
                                <p class="text-light fw-light mb-9 mb-md-15" data-aos="fade-up">我們期待您的來信與來電，竭誠為您解答。讓我們攜手共創更美好的未來！</p>
                                <form action="#" class="mb-14 mb-md-0 needs-validation" novalidate data-aos="fade-up">
                                    <div class="form-floating mb-2 mb-md-5">
                                        <input type="name" class="form-control" name="name" id="name" placeholder="姓名" required>
                                        <label for="name" class="text-primary-600 fw-bold">姓名</label>
                                    </div>
                                    <div class="form-floating mb-2 mb-md-5">
                                        <input type="email" class="form-control" name="email" id="email" placeholder="EMAIL" required>
                                        <label for="email" class="text-primary-600 fw-bold">EMAIL</label>
                                    </div>
                                    <div class="form-floating mb-2 mb-md-5">
                                    <input type="tel" class="form-control" name="tel" id="tel" placeholder="聯絡電話" required>
                                    <label for="tel" class="text-primary-600 fw-bold">聯絡電話</label>
                                    </div>
                                    <div class="form-floating mb-2 mb-md-5">
                                        <textarea name="comments" class="form-control" placeholder="COMMENTS" style="height: 120px; resize: none;" required></textarea>
                                        <label for="commens" class="text-primary-600 fw-bold">COMMENTS</label>
                                    </div>
                                    <button type="submit" class="btn btn-primary-400 d-flex align-items-center justify-content-center w-100"><span class="material-symbols-outlined me-1 fs-5">emergency</span>送出</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <ul class="list-unstyled fw-light mx-auto" data-aos="fade-up">
                            <li class="mb-11">
                                <p class="text-primary-100 opacity-50">客服時間</p>
                                <p class="text-light">週一至週五 09:00-18:00</p>
                            </li>
                            <li class="mb-11">
                                <p class="text-primary-100 opacity-50">聯絡地址</p>
                                <a href="#">高雄市新興區民生一路 56 號</a>
                            </li>
                            <li class="mb-16 mb-md-11">
                                <p class="text-primary-100 opacity-50">聯絡資訊</p>
                                <a href="tel:+886-2-12345678" class="d-block">+886-2-12345678</a>
                                <a href="mailtocustomer@alphabox.com" class="d-block">customer@alphabox.com</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <hr class="text-light">
            <div class="container py-11">
                <div class="row justify-content-md-end">
                    <div class="col-5">
                        <ul class="list-unstyled d-flex flex-column flex-md-row justify-content-between align-items-md-center" data-aos="fade-up">
                            <li class="mb-5 mb-md-0"><a href="#">INSTAGRAM</a></li>
                            <li class="mb-5 mb-md-0"><a href="#">FACEBOOK</a></li>
                            <li class="mb-5 mb-md-0"><a href="#">TWITTER</a></li>
                            <li><a href="#">LINKEDIN</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container pt-14 pt-lg-19">
                <h2 class="fw-bold fs-1 ls-30 mb-5" data-aos="fade-up">選擇自己要的角色</h2>
                <h3 class="fw-bolder fs-3 mb-8 mb-lg-16" data-aos="fade-up"><span class="text-primary-400">20K+</span>使用者喜歡我們的服務</h3>
            </div>
            <div class="pb-md-14 pb-lg-17">
                <div class="row gx-0">
                    <div class="col-md-9 overflow-hidden" data-aos="fade-up">
                        <div class="card transition-2x">
                            <img src="../assets/images/diane_horizontal.png" class="img-fluid d-none d-md-block" alt="diane-image">
                            <img src="../assets/images/diane_choose.png" class="img-fluid d-md-none" alt="diane-image">
                            <div class="card-img-overlay row justify-content-center align-items-center gx-0">
                                <div class="col-md-8">
                                    <a href="diane-product.html" class="link-light-hover font-shrikhand fs-1 stretched-link d-inline-block ps-5"> Diane</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-end gx-0">
                    <div class="col-md-9 overflow-hidden" data-aos="fade-up">
                        <div class="card transition-2x">
                            <img src="../assets/images/felix_horizontal.png" class="img-fluid d-none d-md-block" alt="felix-image">
                            <img src="../assets/images/felix_choose.png" class="img-fluid d-md-none" alt="felix-image">
                            <div class="card-img-overlay row justify-content-end align-items-center gx-0">
                                <div class="col-md-7 text-end text-md-center">
                                    <a href="felix-product.html" class="link-light-hover font-shrikhand fs-1 stretched-link d-inline-block pe-5">Felix </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row gx-0">
                    <div class="col-md-9 overflow-hidden" data-aos="fade-up">
                        <div class="card transition-2x">
                            <img src="../assets/images/karina_horizontal.png" class="img-fluid d-none d-md-block" alt="karina-image">
                            <img src="../assets/images/karina_choose.png" class="img-fluid d-md-none" alt="karina-image">
                            <div class="card-img-overlay row justify-content-center align-items-center gx-0">
                                <div class="col-md-8">
                                    <a href="karina-product.html" class="link-light-hover font-shrikhand fs-1 stretched-link d-inline-block ps-5"> Karina</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-end gx-0">
                    <div class="col-md-9 overflow-hidden" data-aos="fade-up">
                        <div class="card transition-2x">
                            <img src="../assets/images/vito_horizontal.png" class="img-fluid d-none d-md-block" alt="Vito-image">
                            <img src="../assets/images/vito_choose.png" class="img-fluid d-md-none" alt="Vito-image">
                            <div class="card-img-overlay row justify-content-end align-items-center gx-0">
                                <div class="col-md-7 text-end text-md-center">
                                    <a href="vito-product.html" class="link-light-hover font-shrikhand fs-1 stretched-link d-inline-block pe-5">Vito </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="slide-up">
            <a href=".zip" class="btn-up position-fixed bottom-2 end-2 z-3 d-flex flex-column align-items-center">
                <span class="material-symbols-outlined fw-bold fs-4 text-primary-200">arrow_upward</span>
                <span class="fs-7 fw-bold text-primary-200">TOP</span>
            </a>
          </section>
        <%- include('./layout/footer'); -%>
        <script type="module" src="../main.js"></script>
        <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
        <script>
            AOS.init();
            (function () {
                'use strict'

                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.querySelectorAll('.needs-validation')

                // Loop over them and prevent submission
                Array.prototype.slice.call(forms)
                .forEach(function (form) {
                    form.addEventListener('submit', function (event) {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }

                    form.classList.add('was-validated')
                    }, false)
                })
            })()
        </script>
    </body>
</html>