<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
    <title>index</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <!-- header -->
    <header class="container-fluid pt-16 px-xl-16 text-light bg-size-cover" style="background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week8-ai/home_background.png?raw=true)">
      <div class="row flex-row-reverse justify-content-between py-13">
        <div class="col-12 col-lg-3 mb-9 mb-lg-0 d-flex flex-column justify-content-between">
            <div>
              <div class="deco-line-white w-100"></div>
              <p class="ls-1 pt-2 pt-lg-1">ALPHABOX+ STUDIO</p>
            </div>
            <p class="ls-1 text-primary-200 d-none d-lg-block">Copyright © 2023 Hexschool.</p>
          </div>
        <div class="col-12 col-lg-6">
          <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week8-ai/circle.png?raw=true" class="animation-circle img-fluid d-block mx-auto" alt="logo-image">
        </div>
        <div class="col-12 col-lg-3 align-self-end d-none d-lg-block">
          <p class="ls-1 pb-1">最新消息！新版本 v15.4 釋出，搶先體驗！</p>
          <div class="deco-line-white"></div>
        </div>
      </div>
      <div class="mb-9 text-center d-md-none">
        <h2 class="font-shrikhand fs-4 fst-italic ls-13">ALPHABOX+</h2>
        <p class="fw-bold ls-3">擁抱未來科技，專屬您的3D立體投影陪伴機器人</p>
      </div>
      <div class="row justify-content-between pb-11 mb-n18">
        <div class="col-12 col-md-3 mb-5 mb-md-0 d-flex flex-column justify-content-end">
          <div class="card shadow-hover">
            <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week8-ai/diane_square1.png?raw=true" class="font-shrikhand fs-4 fst-italic d-md-none" class="card-img" alt="diane-image">
            <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week8-ai/diane.png?raw=true" class="font-shrikhand fs-4 fst-italic d-none d-md-block" class="card-img" alt="diane-image">
            <div class="card-img-overlay d-flex justify-content-center">
              <a href="#" class="font-shrikhand fs-4 fst-italic stretched-link">Diane</a>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="mb-8 text-center d-none d-md-block">
            <h2 class="font-shrikhand fs-4 fst-italic ls-13 ls-lg-30  me-n7 me-lg-n9 me-xxl-n16">ALPHABOX+</h2>
            <p class="fw-bold ls-5 ls-xl-10">擁抱未來科技，專屬您的3D立體投影陪伴機器人</p>
          </div>
          <div class="row">
            <div class="col-12 col-md-6 mb-5 mb-md-0">
              <div class="card shadow-hover">
                <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week8-ai/felix_square1.png?raw=true" class="font-shrikhand fs-4 fst-italic d-md-none" class="card-img" alt="Felix-image">
                <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week8-ai/felix.png?raw=truee" class="font-shrikhand fs-4 fst-italic d-none d-md-block" class="card-img" alt="Felix-image">
                <div class="card-img-overlay d-flex justify-content-center">
                  <a href="#" class="font-shrikhand fs-4 fst-italic">Felix</a>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 mb-5 mb-md-0">
              <div class="card shadow-hover">
                <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week8-ai/karina_square1.png?raw=true" class="font-shrikhand fs-4 fst-italic d-md-none" class="card-img" alt="Karina-image">
                <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week8-ai/karina.png?raw=true" class="font-shrikhand fs-4 fst-italic d-none d-md-block" class="card-img" alt="Karina-image">
                <div class="card-img-overlay d-flex justify-content-center">
                  <a href="#" class="font-shrikhand fs-4 fst-italic">Karina</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-3 mb-5 mb-md-0 d-flex flex-column justify-content-end">
          <div class="card shadow-hover">
            <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week8-ai/vito_square1.png?raw=true" class="font-shrikhand fs-4 fst-italic d-md-none" class="card-img" alt="Vito-image">
            <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week8-ai/vito.png?raw=true" class="font-shrikhand fs-4 fst-italic d-none d-md-block" class="card-img" alt="Vito-image">
            <div class="card-img-overlay d-flex justify-content-center">
              <a href="#" class="font-shrikhand fs-4 fst-italic">Vito</a>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- 什麼是ALPHABOX+ -->
    <section class="bg-linear-circle-primary-1">
      <div class="py-16 bg-position-center bg-position-md-start bg-size-cover bg-size-md-contain" style="background: url(../assets/images/carousel_background.png) no-repeat;">
      <div class="container-fluid px-xl-16">
        <div class="deco-line-gradient-primary-dark mb-2 mt-11"></div>
      <h2 class="fs-5 fs-md-3 fw-bold ls-15 ls-md-30 text-light mb-2">什麼是</h2>
      <h2 class="fs-5 fs-md-3 fw-bold ls-15 ls-md-30 text-light mb-5">ALPHABOX+</h2>
      <hr class="text-light mx-n3 mx-xl-n16">
      <div id="carouselExample" class="carousel slide py-9"  data-bs-ride="carousel">
        <div class="container">
          <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="../assets/images/carousel_mobile.png" class="card-img d-md-none" alt="">
                <img src="../assets/images/carousel.png" class="card-img d-none d-md-block w-100" alt="...">
                <div class="carousel-caption text-light d-flex flex-column justify-content-end align-items-start justify-content-md-center align-items-md-end h-100">
                  <span class="font-shrikhand fw-bold fs-big">01</span>
                  <h3 class="fs-5 fs-md-4 fw-bold mb-2 mb-md-5 ls-15 ls-md-20 me-n9">立體投影技術</h3>
                  <p>透過高科技立體投影技術，讓您感受真實的科技世界。</p>
                </div>
            </div>
            <div class="carousel-item">
              <img src="../assets/images/carousel_mobile.png" class="card-img d-md-none" alt="">
                <img src="../assets/images/carousel.png" class="card-img d-none d-md-block w-100" alt="...">
                <div class="carousel-caption text-light d-flex flex-column justify-content-end align-items-start justify-content-md-center align-items-md-end h-100">
                  <span class="font-shrikhand fw-bold fs-big">02</span>
                  <h3 class="fs-5 fs-md-4 fw-bold mb-2 mb-md-5 ls-15 ls-md-20 me-n9">立體投影技術</h3>
                  <p>透過高科技立體投影技術，讓您感受真實的科技世界。</p>
                </div>
            </div>
            <div class="carousel-item">
              <img src="../assets/images/carousel_mobile.png" class="card-img d-md-none" alt="">
                <img src="../assets/images/carousel.png" class="card-img d-none d-md-block w-100" alt="...">
                <div class="carousel-caption text-light d-flex flex-column justify-content-end align-items-start justify-content-md-center align-items-md-end h-100">
                  <span class="font-shrikhand fw-bold fs-big">03</span>
                  <h3 class="fs-5 fs-md-4 fw-bold mb-2 mb-md-5 ls-15 ls-md-20 me-n9">立體投影技術</h3>
                  <p>透過高科技立體投影技術，讓您感受真實的科技世界。</p>
                </div>
            </div>
          </div> 
        </div> 
        <button class="carousel-control-prev d-none d-md-block" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
          <span><img src="../assets/images/line_start_arrow_notch.png" class="img-fluid"  alt="arrow-image"></span>
        </button>
        <button class="carousel-control-next d-none d-md-block" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
          <span><img src="../assets/images/line_end_arrow_notch.png" class="img-fluid" alt="arrow-image"></span>
        </button>
      </div>
      <div class="deco-line-gradient-dark-primary mb-2"></div>
      </div>
      </div>
    </section>
    <!--最新消息 -->
    <section class="bg-linear-circle-primary-2 py-11">
      <div class="container text-light pt-7 pt-md-17">
        <h2 class="fw-bold fs-3 ls-30 mb-11 text-center text-md-start">最新消息</h2>
        <div class="fw-bold px-5 py-9 py-md-11 border-top border-bottom">
          <p class="ls-10 mb-2 d-flex align-items-center">
            <span class="material-symbols-outlined me-5">emergency</span>
            2023.06.30
          </p>
          <h3 class="fs-6 ls-12 mb-3">產品升級公告</h3>
          <div class="row flex-column flex-md-row justify-content-between">
            <div class="col-lg-9">
              <p class="mb-3 mb-md-0">榮幸地宣布，ALPHABOX+ 已成功完成最新一代的升級！本次升級包括提升投影解析度、優化語音辨識技術，以及擴充情感識別功能。歡迎您了解本次升級帶來的更為卓越的性能！</p>
            </div>
            <div class="col-lg-3">
              <a href="#" class="d-flex align-items-center"><img src="../assets/images/arrow.png" class="img-fluid" alt="arrow-img"></a>
            </div>
          </div>
        </div>
        <div class="row border-bottom">
          <div class="col-12 col-md-6 border-end-md border-bottom border-bottom-md-0 py-9 py-md-11">
            <div class="px-5">
              <p class="ls-10 mb-2 d-flex align-items-center">
                <span class="material-symbols-outlined me-5">emergency</span>
                2023.06.30
              </p>
              <h3 class="fs-6 ls-12 mb-3">限時優惠活動</h3>
              <p class="mb-3">為答謝廣大用戶的支持，本月將舉辦一場限時優惠活動。訂閱 ALPHABOX+ 的顧客，皆可享受九折優惠。機會難得，請勿錯過此良機！</p>
              <a href="#" class="d-flex align-items-center w-25"><img src="../assets/images/arrow.png" class="img-fluid" alt="arrow-img"></a>
            </div>
          </div>
          <div class="col-12 col-md-6 py-9 py-md-11">
            <div class="px-5">
              <p class="ls-10 mb-2 d-flex align-items-center">
                <span class="material-symbols-outlined me-5">emergency</span>
                2023.04.18
              </p>
              <h3 class="fs-6 ls-12 mb-3">新功能上線</h3>
              <p class="mb-3">為使您的 ALPHABOX+ 更趨完善，我們不懈地研發創新功能。近期，我們新推出智慧家居控制功能，使您的機器人能更便利地協助您操作家中各類智能設備。</p>
              <a href="#" class="d-flex align-items-center w-25"><img src="../assets/images/arrow.png" class="img-fluid" alt="arrow-img"></a>
            </div>
          </div>
        </div>
        <div class="position-relative py-11 mt-md-10 mb-md-12">
          <img src="../assets/images/circle.png" class="img-fluid d-block mx-auto animation-circle " alt="logo-circle-image" width="132">
          <a href="#" class="fw-bold position-absolute top-50 start-50 translate-middle text-cente d-block p-5">查看更多</a>
        </div>
        <p class="fw-bold text-end d-none d-md-block">為環保盡一份心力，我們的包裝盒和紙質說明書都使用環保材料</p>
      </div>
    </section>
    <!--使用分享 -->
    <section class="bg-linear-circle-dark py-11 position-relative overflow-hidden">
      <p class="deco-text z-1 position-absolute top-94 top-md-65">ALPHABOX+</p>
      <div class="container pt-7 pt-md-17 z-3">
        <div class="row text-light fw-bold justify-content-between">
          <div class="col-12 col-lg-6 col-xl-5">
            <h2 class="fw-bold fs-3 ls-30 mb-5 text-start">使用分享</h2>
            <span class="text-light fw-bold d-block mb-8 mb-md-11">01 - 04</span>
          </div>
          <div class="col-12 col-lg-6 col-xl-7 mb-8 mb-md-0 mt-md-3">
            <p>展示其他使用者對於產品的真實體驗與評價，讓您更加放心選擇。</p>
          </div>
        </div>
        <span class="material-symbols-outlined me-5 mb-5 mb-md-8 fs-2 text-light d-block">emergency</span>
        <ul class="d-md-none d-flex flex-column align-items-center px-0">
            <li class="d-flex flex-column justify-content-between bg-primary-500 text-light fw-bold p-8 mb-8" style="height: 416px;">
              <div class="flex-grow-1">
                <h3 class="fs-8 d-flex align-items-center mb-9">Zona<span class="material-symbols-outlined fs-10 mx-2">circle</span>Taipei</h3>
                <p>ALPHABOX+ 真的很夯！每次把它打開，感覺就像是身臨其境一樣。它陪我度過了很多寂寞的時光，讓我在家裡也能享受到優質的休閒時光。</p>
              </div>
              <div class="d-flex align-items-center">
                <span class="material-symbols-outlined fs-8 me-5">circle</span>
                <span class="material-symbols-outlined fs-8 me-5">circle</span>
                <p>ALPHABOX+ Dianne</p>
              </div>
            </li>
            <li class="d-flex flex-column justify-content-between bg-light fw-bold p-8 mb-8" style="height: 416px;">
              <div class="flex-grow-1">
                <h3 class="fs-8 d-flex align-items-center mb-9">Lin<span class="material-symbols-outlined fs-10 mx-2">circle</span>Chiayi</h3>
                <p>非常推薦！它的畫面清晰度超高，真的讓我驚艷不已。而且它還可以和我互動，感覺就像是有個真實的朋友在身邊。</p>
              </div>
              <div class="d-flex align-items-center">
                <span class="material-symbols-outlined fs-8 me-5">circle</span>
                <span class="material-symbols-outlined fs-8 me-5">circle</span>
                <p>ALPHABOX+ Felix</p>
              </div>
            </li>
            <li class="d-flex flex-column justify-content-between bg-primary-500 text-light fw-bold p-8 mb-8" style="height: 416px;">
              <div class="flex-grow-1">
                <h3 class="fs-8 d-flex align-items-center mb-9">云<span class="material-symbols-outlined fs-10 mx-2">circle</span>Taipei</h3>
                <p>我之前一直在找能陪伴我度過空虛時光的好夥伴，直到遇見 ALPHABOX+。它不僅僅是一個機器人，更像是一個真正的朋友，陪著我分享喜怒哀樂。真的很讚！</p>
              </div>
              <div class="d-flex align-items-center">
                <span class="material-symbols-outlined fs-8 me-5">circle</span>
                <span class="material-symbols-outlined fs-8 me-5">circle</span>
                <p>ALPHABOX+ Dianne</p>
              </div>
            </li>
            <li class="d-flex flex-column justify-content-between bg-light fw-bold p-8 mb-8" style="height: 416px;">
              <div class="flex-grow-1">
                <h3 class="fs-8 d-flex align-items-center mb-9">Zichi<span class="material-symbols-outlined fs-10 mx-2">circle</span>Kaohsiung</h3>
                <p>讓我在忙碌的工作之餘，也能找到休閒的樂趣。它的互動功能非常有趣，讓我在短短的時間內就愛上了它。給它一百分！</p>
              </div>
              <div class="d-flex align-items-center">
                <span class="material-symbols-outlined fs-8 me-5">circle</span>
                <span class="material-symbols-outlined fs-8 me-5">circle</span>
                <p>ALPHABOX+ Vito</p>
              </div>
            </li>
        </ul>
      </div>
      <div class="overflow-hidden">
        <div class="container">
          <div class="swiper mySwiper mb-12 ms-auto d-none d-md-block">
            <ul class="swiper-wrapper list-unstyled mb-5">
              <li class="swiper-slide">
                <div class="d-flex flex-column justify-content-between bg-primary-500 text-light fw-bold p-11" style="height: 416px;">
                  <div class="flex-grow-1">
                    <h3 class="fs-8 d-flex align-items-center mb-9">Zona<span class="material-symbols-outlined fs-10 mx-2">circle</span>Taipei</h3>
                    <p>ALPHABOX+ 真的很夯！每次把它打開，感覺就像是身臨其境一樣。它陪我度過了很多寂寞的時光，讓我在家裡也能享受到優質的休閒時光。</p>
                  </div>
                  <div class="d-flex align-items-center">
                    <span class="material-symbols-outlined fs-8 me-5">circle</span>
                    <span class="material-symbols-outlined fs-8 me-5">circle</span>
                    <p>ALPHABOX+ Dianne</p>
                  </div>
                </div>
              </li>
              <li class="swiper-slide">
                <div class="d-flex flex-column justify-content-between bg-light fw-bold p-11" style="height: 416px;">
                  <div class="flex-grow-1">
                    <h3 class="fs-8 d-flex align-items-center mb-9">Lin<span class="material-symbols-outlined fs-10 mx-2">circle</span>Chiayi</h3>
                    <p>非常推薦！它的畫面清晰度超高，真的讓我驚艷不已。而且它還可以和我互動，感覺就像是有個真實的朋友在身邊。</p>
                  </div>
                  <div class="d-flex align-items-center">
                    <span class="material-symbols-outlined fs-8 me-5">circle</span>
                    <span class="material-symbols-outlined fs-8 me-5">circle</span>
                    <p>ALPHABOX+ Felix</p>
                  </div>
                </div>
              </li>
              <li class="swiper-slide">
                <div class="d-flex flex-column justify-content-between bg-primary-500 text-light fw-bold p-11" style="height: 416px;">
                  <div class="flex-grow-1">
                    <h3 class="fs-8 d-flex align-items-center mb-9">云<span class="material-symbols-outlined fs-10 mx-2">circle</span>Taipei</h3>
                    <p>我之前一直在找能陪伴我度過空虛時光的好夥伴，直到遇見 ALPHABOX+。它不僅僅是一個機器人，更像是一個真正的朋友，陪著我分享喜怒哀樂。真的很讚！</p>
                  </div>
                  <div class="d-flex align-items-center">
                    <span class="material-symbols-outlined fs-8 me-5">circle</span>
                    <span class="material-symbols-outlined fs-8 me-5">circle</span>
                    <p>ALPHABOX+ Dianne</p>
                  </div>
                </div>
              </li>
              <li class="swiper-slide">
                <div class="d-flex flex-column justify-content-between bg-light fw-bold p-11" style="height: 416px;">
                  <div class="flex-grow-1">
                    <h3 class="fs-8 d-flex align-items-center mb-9">Zichi<span class="material-symbols-outlined fs-10 mx-2">circle</span>Kaohsiung</h3>
                    <p>讓我在忙碌的工作之餘，也能找到休閒的樂趣。它的互動功能非常有趣，讓我在短短的時間內就愛上了它。給它一百分！</p>
                  </div>
                  <div class="d-flex align-items-center">
                    <span class="material-symbols-outlined fs-8 me-5">circle</span>
                    <span class="material-symbols-outlined fs-8 me-5">circle</span>
                    <p>ALPHABOX+ Vito</p>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="d-none d-md-flex align-items-center mb-17">
            <div class="swiper-scrollbar position-static w-50 me-6 py-1"></div>
            <p class="text-white">SCROLL</p>
          </div>
        </div>
      </div>
      <div class="container">
        <p class="text-light fw-bold pt-5 d-none d-md-block">若您有任何疑問或建議，歡迎隨時與我們聯絡，我們將竭誠為您解答。</p>
      </div>
    </section>
    <!-- 聯絡我們 -->
    <section class="bg-primary-600 text-light">
      <div class="container py-14 py-md-18">
        <div class="row">
          <div class="col-12 col-lg-6 col-xl-5 mb-8 mb-md-0">
            <h2 class="fw-bold fs-3 ls-30 mb-7">聯絡我們</h2>
            <div class="d-flex mb-10 mb-md-13 align-items-center">
              <span class="material-symbols-outlined fs-9 me-2">circle</span>
              <div class="deco-pill-line-white"></div>
            </div>
            <div class="fw-bold">
              <p class="mb-1">讓科技成為您的最佳夥伴</p>
              <p>立即體驗神奇功能並享限時優惠！</p>
            </div>
          </div>
          <div class="col-12 col-lg-6 col-xl-7">
            <span class="material-symbols-outlined me-5 fs-2 mb-5">emergency</span>
            <form action="#">
              <div class="form-floating mb-5">
                <input type="email" class="form-control" name="email" id="name" placeholder="EMAIL">
                <label for="email" class="text-primary-600">EMAIL</label>
              </div>
              <div class="form-floating mb-5">
                <textarea name="comments" class="form-control" placeholder="COMMENTS" style="height: 120px;"></textarea>
                <label for="commens" class="text-primary-600">COMMENTS</label>
              </div>
              <button type="submit" class="btn btn-primary-400 d-flex align-items-center justify-content-center w-100 w-md-50 ms-auto mb-7 mb-md-0"><span class="material-symbols-outlined me-1 fs-5">emergency</span>送出</button>
            </form>
          </div>
        </div>
      </div>
      
    </section>
    <!-- cards -->
    <section class="container-fluid text-light px-0">
      <ul class="row px-0 gx-0">
        <li class="col-6 col-lg-3">
          <div class="card border-bottom border-bottom-lg-0 h-100">
            <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week8-ai/diane_vertical.png?raw=true" class="img-fluid"  alt="diane-image">
            <div class="card-img-overlay p-3 p-md-8 bg-hover">
              <div class="d-flex flex-column justify-content-between h-100">
                <div>
                  <p class="deco-number text-center">1</p>
                  <h2 class="fs-5 fs-md-4 fw-bold font-shrikhand text-center">Diane</h2>
                </div>
                <div>
                  <p>知識型</p>
                  <div class="d-lg-flex justify-content-between">
                    <p>學術領導/知識分享/智能問答</p>
                    <a href="#" class="d-flex align-items-center stretched-link"><img src="../assets/images/arrow.png" class="img-fluid" alt="arrow-img" width="151"></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="col-6 col-lg-3">
          <div class="card border-start border-bottom border-bottom-lg-0 h-100">
            <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week8-ai/felix_vertical.png?raw=true" class="img-fluid" alt="felix-image">
            <div class="card-img-overlay p-3 p-md-8 bg-hover">
              <div class="d-flex flex-column justify-content-between h-100">
                <div>
                  <p class="deco-number text-center">2</p>
                  <h2 class="fs-5 fs-md-4 fw-bold font-shrikhand text-center">Felix</h2>
                </div>
                <div>
                  <p>娛樂型</p>
                  <div class="d-lg-flex justify-content-between">
                    <p>音樂播放/語音互動/遊戲陪伴</p>
                    <a href="#" class="d-flex align-items-center stretched-link "><img src="../assets/images/arrow.png" class="img-fluid" alt="arrow-img" width="151"></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="col-6 col-lg-3">
          <div class="card border-start-lg  h-100">
            <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week8-ai/karina_verticalgle.png?raw=true" class="img-fluid" alt="karina-image">
            <div class="card-img-overlay p-3 p-md-8 bg-hover">
              <div class="d-flex flex-column justify-content-between h-100">
                <div>
                  <p class="deco-number text-center">3</p>
                  <h2 class="fs-5 fs-md-4 fw-bold font-shrikhand text-center">Karina</h2>
                </div>
                <div>
                  <p>生活型</p>
                  <div class="d-lg-flex justify-content-between">
                    <p>健康提醒/日程安排/智能家居</p>
                    <a href="#" class="d-flex align-items-center  stretched-link"><img src="../assets/images/arrow.png" class="img-fluid" alt="arrow-img" width="151"></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="col-6 col-lg-3">
          <div class="card border-start  h-100">
            <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week8-ai/vito_vertical.png?raw=true" class="img-fluid" alt="vito-image">
            <div class="card-img-overlay p-3 p-md-8 bg-hover">
              <div class="d-flex flex-column justify-content-between h-100">
                <div>
                  <p class="deco-number text-center">4</p>
                  <h2 class="fs-5 fs-md-4 fw-bold font-shrikhand text-center">Vito</h2>
                </div>
                <div>
                  <p>情感型</p>
                  <div class="d-lg-flex justify-content-between">
                    <p>情感識別/心情分析/心靈支持</p>
                    <a href="#" class="d-flex align-items-center stretched-link"><img src="../assets/images/arrow.png" class="img-fluid" alt="arrow-img" width="151"></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </section>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js" integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <script>
      var swiper = new Swiper(".mySwiper", {
        slidesPerView: 3,
        spaceBetween: 24,
        freeMode: true,
        cssMode: true,
        mousewheel: true,
        scrollbar: {
          el: ".swiper-scrollbar",
          draggable: true
        },
      });
    </script>
  </body>
</html>
